.#*
*#
*.test
**~
api/api
api/l0-api
runner/runner
runner/l0-runner
*.swp
l0
l0.json
*.test
*exe
creds
.env
.zpi
.zwi
*.gcfg
build/
output/*
scripts/local_scratch.sh
*.cid
pass_file
**pyc
*.save
coverage.*
*.tags*

.python-version
