| $L0_VERSION | [macOS](https://github.com/quintilesims/layer0/releases/download/$L0_VERSION/macOS.zip) | [Linux](https://github.com/quintilesims/layer0/releases/download/$L0_VERSION/Linux.zip) | [Windows](https://github.com/quintilesims/layer0/releases/download/$L0_VERSION/Windows.zip)