| v$L0_VERSION_V | [macOS](https://github.com/quintilesims/layer0/releases/download/v$L0_VERSION_V/macOS.zip) | [Linux](https://github.com/quintilesims/layer0/releases/download/v$L0_VERSION/Linux.zip) | [Windows](https://github.com/quintilesims/layer0/releases/download/v$L0_VERSION_V/Windows.zip)